<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="header">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Profile</ion-title>
      <ion-buttons end>
        <button ion-button only-icon (click)="editClicked()">
          {{editButtontitle}}
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content padding class="transparent-header">
    <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + user.coverImage +')'}"></div>
    
    <div id="content">
      
      <div id="profile-info" padding>
        <img id="profile-image" [src]="user.profileImage">
        <h3 id="profile-name">{{user.name}}</h3>
        <p>{{user.occupation}} &bull; {{user.location}}</p>
      </div>
      
      <div class="detailContent" *ngIf="!isEdit">
        <ion-card>
          <ion-item>
            <h2>Personal Details</h2>  
          </ion-item>
          <ion-card-content>
            <table>
              <tr>
                <td class="col1">Name : </td>
                <td>Jeplin Devbarma</td>
              </tr>
              <tr>
                <td class="col1">Email : </td>
                <td>sampleemail@mail.com</td>
              </tr>
              <tr>
                <td class="col1">DOB : </td>
                <td>My DOB</td>
              </tr>
              <tr>
                <td class="col1">Date of Joining : </td>
                <td>My Joining Date </td>
              </tr>
              <tr>
                <td class="col1">Phone Number : </td>
                <td>9192198912</td>
              </tr>
            </table>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
            <ion-item>
              <h2>Family Details</h2>  
            </ion-item>
            <ion-card-content>
              <table>
                <tr>
                  <td class="col1">Father's Name : </td>
                  <td>----</td>
                </tr>
                <tr>
                  <td class="col1">Mother's Name : </td>
                  <td>----</td>
                </tr>
                <tr>
                  <td class="col1">Phone Number : </td>
                  <td>9192198912</td>
                </tr>
              </table>
            </ion-card-content>
          </ion-card>
  
        <ion-card>
            <ion-item>
              <h2>Current Address Details</h2>  
            </ion-item>
            <ion-card-content>
              <table>
                <tr>
                  <td class="col1">Address 1 : </td>
                  <td>Address 1 content</td>
                </tr>
                <tr>
                  <td class="col1">Address 2 : </td>
                  <td>Address 2 content</td>
                </tr>
                <tr>
                  <td class="col1">City : </td>
                  <td>my City</td>
                </tr>
                <tr>
                  <td class="col1">State : </td>
                  <td>my State</td>
                </tr>
                <tr>
                  <td class="col1">Country : </td>
                  <td>my Country</td>
                </tr>
                <tr>
                  <td class="col1">Pincode : </td>
                  <td>my Pincode</td>
                </tr>
              </table>
            </ion-card-content>
          </ion-card>
  
          <ion-card>
              <ion-item>
                <h2>Permanent Address Details</h2>  
              </ion-item>
              <ion-card-content>
                <table>
                  <tr>
                    <td class="col1">Address 1 : </td>
                    <td>Address 1 content</td>
                  </tr>
                  <tr>
                    <td class="col1">Address 2 : </td>
                    <td>Address 2 content</td>
                  </tr>
                  <tr>
                    <td class="col1">City : </td>
                    <td>my City</td>
                  </tr>
                  <tr>
                    <td class="col1">State : </td>
                    <td>my State</td>
                  </tr>
                  <tr>
                    <td class="col1">Country : </td>
                    <td>my Country</td>
                  </tr>
                  <tr>
                    <td class="col1">Pincode : </td>
                    <td>my Pincode</td>
                  </tr>
                </table>
              </ion-card-content>
            </ion-card>
      </div>
  
      <!-- Edit Detail -->
      <div class="detailContent" *ngIf="isEdit">
          <ion-card>
            <ion-item>
              <h2>Personal Details</h2>  
            </ion-item>
            <ion-card-content>
              <table>
                <tr>
                  <td class="col1">Email : </td>
                  <td>
                    <input type="email" name="email" value="email" placeholder="Email">
                  </td>
                </tr>
                <tr>
                  <td class="col1">DOB : </td>
                  <td>
                    <input type="text" name="dob" value="dob" placeholder="DOB">
                  </td>
                </tr>
                <tr>
                  <td class="col1">Phone Number : </td>
                  <td>
                    <input type="tel" name="phone" value="phone" placeholder="phone number">
                  </td>
                </tr>
              </table>
            </ion-card-content>
          </ion-card>
    
          <ion-card>
              <ion-item>
                <h2>Family Details</h2>  
              </ion-item>
              <ion-card-content>
                <table>
                  <tr>
                    <td class="col1">Father's Name : </td>
                    <td>
                      <input type="text" name="fathername" value="fathername" placeholder="Father's Name">
                    </td>
                  </tr>
                  <tr>
                    <td class="col1">Mother's Name : </td>
                    <td>
                      <input type="text" name="mothername" value="mothername" placeholder="Mother's Name">
                    </td>
                  </tr>
                  <tr>
                    <td class="col1">Phone Number : </td>
                    <td>
                      <input type="tel" name="phone" value="phone" placeholder="Phone Number">
                    </td>
                  </tr>
                </table>
              </ion-card-content>
            </ion-card>
    
          <ion-card>
              <ion-item>
                <h2>Current Address Details</h2>  
              </ion-item>
              <ion-card-content>
                <table>
                  <tr>
                    <td class="col1">Address 1 : </td>
                    <td>
                      <input type="textarea" name="address1" value="address1" placeholder="Address 1">
                    </td>
                  </tr>
                  <tr>
                    <td class="col1">Address 2 : </td>
                    <td>
                      <input type="textarea" name="address2" value="address2" placeholder="Address 2">
                    </td>
                  </tr>
                  <tr>
                    <td class="col1">City : </td>
                    <td>
                      <input type="text" name="city" value="city" placeholder="City">
                    </td>
                  </tr>
                  <tr>
                    <td class="col1">State : </td>
                    <td>
                      <input type="text" name="state" value="state" placeholder="State">
                    </td>
                  </tr>
                  <tr>
                    <td class="col1">Country : </td>
                    <td>
                      <ion-select [(ngModel)]="countrySelectCur">
                        <ion-option *ngFor="let country of countries" value="{{country}}">{{country}}</ion-option>
                      </ion-select>
                    </td>
                  </tr>
                  <tr>
                    <td class="col1">Pincode : </td>
                    <td>
                      <input type="text" name="pincode" value="pincode" placeholder="Pincode">
                    </td>
                  </tr>
                </table>
              </ion-card-content>
            </ion-card>
    
            <ion-card>
                <ion-item>
                  <h2>Permanent Address Details</h2>  
                </ion-item>
                <ion-card-content>
                    <table>
                      <tr>
                        <td class="col1">Address 1 : </td>
                        <td>
                          <input type="textarea" name="address1" value="address1" placeholder="Address 1">
                        </td>
                      </tr>
                      <tr>
                        <td class="col1">Address 2 : </td>
                        <td>
                          <input type="textarea" name="address2" value="address2" placeholder="Address 2">
                        </td>
                      </tr>
                      <tr>
                        <td class="col1">City : </td>
                        <td>
                          <input type="text" name="city" value="city" placeholder="City">
                        </td>
                      </tr>
                      <tr>
                        <td class="col1">State : </td>
                        <td>
                          <input type="text" name="state" value="state" placeholder="State">
                        </td>
                      </tr>
                      <tr>
                        <td class="col1">Country : </td>
                        <td>
                          <ion-select [(ngModel)]="countrySelectPer">
                            <ion-option *ngFor="let country of countries" value="{{country}}">{{country}}</ion-option>
                          </ion-select>
                        </td>
                      </tr>
                      <tr>
                        <td class="col1">Pincode : </td>
                        <td>
                          <input type="text" name="pincode" value="pincode" placeholder="Pincode">
                        </td>
                      </tr>
                    </table>
                  </ion-card-content>
              </ion-card>
        </div>
    </div>
  </ion-content>
